<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;1,300;1,400&display=swap" rel="stylesheet">        
    <link rel="stylesheet" href="css/style.css">
    <title>Моя библиотека</title>
</head>
<body>
    <div id="app" v-cloak>
        <div id="wrapper" :class="darkTheme ? 'darkBackground' : 'lightBackground'">
            <div class="theme" @click="changeTheme" onselectstart="return false" onmousedown="return false">
                <img v-if="darkTheme" src="img/lampDark.png" alt="img" class="lamp">
                <img v-else src="img/lampLight2.png" alt="img" class="lamp">
            </div>
            <div class="searchBooksField">
                <input type="text" class="searchBooks" :class="darkTheme ? 'darkInput' : 'lightInput'" v-model="searchBooks">
            </div>
            <div onselectstart="return false" onmousedown="return false" class="cont">
                <p class="myLib-title">Моя библиотека</p>
                <div class="main" :class="darkTheme ? 'dark' : 'light'">
                    <div v-if="books.length !== 0" :class="book.itemClose" v-for="(book, index) in filterBooks" :key="index" @click="openclose(book)" @click.right.prevent="closeAll(book)">
                        <div class="number"> {{ index + 1 }}.</div>
                        <div class="title">{{ book.name }}</div>
                        <div class="author">{{ book.author}}</div>
                        <div class="stars">
                            <div class="strok">{{ book.stars }}</div>
                        </div>
    
                        <span class="item-info" v-show="book.itemClose === 'item-open'">
                            <p class="note">{{ book.notes }}</p>
                            <p class="dop-info">
                                <div class="status-info">Статус: {{ book.status }}</div>
                                <div class="date-info">{{ book.date }}</div>
                            </p>
                        </span>
                    </div>
    
                    <div class="else" v-else>
                        <p class="else-title">
                            Здесь пока нет книг, добавьте первую!
                        </з>
                    </div>
                </div>
            </div>
    
            <div class="buttonWrapper">
                <div id="addBook" :class="darkTheme ? 'dark' : 'light'" @click="modalWindowStatus = 'open'">
                    Добавить новую книгу
                </div>
            </div>
    
            <div class="modal-window" v-show="modalWindowStatus === 'open'">
                <div id="modal-window-content" :class="darkTheme ? 'darkBackground' : 'light'">
                    <div class="close" @click="closeModalWindow">&#215;</div>
                    <h2 class="window-title">Добавить новую книгу</h2>
                    <form>
                        <div class="window-form">
                        <div class="a">
                            Название книги: <input class="aaa" :class="darkTheme ? 'darkInput' : 'lightInput'" style=" padding: 13px;" type="text" v-model="name">
                        </div>
                        <div class="a aa">
                            Автор книги: <input class="aaa" :class="darkTheme ? 'darkInput' : 'lightInput'" style=" padding: 13px;" type="text" v-model="author">
                        </div>
                        <div class="a">
                            Дата прочтения: <input class="aaa" :class="darkTheme ? 'darkInput' : 'lightInput'" style=" padding: 13px;" type="date" v-model="date">
                        </div>
                        <div class="c">
                            <div class="stars-title">Моя оценка:</div> 
                            <div class="stars">
                                <li class="star" v-for="(star, index) in 5" :key="index" @click="starsMethod(star, $index)">{{ index < clicked ? "🧡" : "🖤" }}</li>
                            </div>
                        </div>
                        <div class="d">
                            <div>Мой комментарий:</div>
                            <textarea class="textarea" :class="darkTheme ? 'darkInput' : 'lightInput'" cols="57" rows="17" v-model="comment"></textarea>
                        </div>
                        <input type="button" class="btn" :class="darkTheme ? 'darkBtn' : 'lightBtn'" @click="addNewBook" value="Добавить эту книгу">
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="js/script.js"></script>
</body>
</html>

